@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.grid-container{
    display: grid;
    min-width: 100%;
    height: 100vh; /* Stretches to bottom of viewport */
    grid-template-columns: 250px 1fr; /* Sidebar is 300px, remaining space is taken up */
    grid-template-rows: 50px 100px 1fr 50px; /* header / action / content (remaining space) / footer */
    grid-template-areas:
        "sidebar header"
        "sidebar action-tab"
        "sidebar content"
        "sidebar footer";
}

.header {
    background-color: aqua;
    grid-area: header;
    padding: 1rem;
    padding-left: 2.5rem;
}

.action-tab {
    background-color: pink;
    grid-area: action-tab;
    padding: 2.5rem;
}

.sidebar {
    background-color: green;
    grid-area: sidebar;
    padding: 2rem;
    position: relative;
}

.sidebar .nav {
    list-style-type: none;
    line-height: 3rem;
}

.sidebar .settings {
    position: absolute;
    bottom: 0;
    line-height: 3rem;
    list-style-type: none;
    margin-bottom: 2rem; /* Same as sidebar padding */
}

.content {
    display: grid; /* This is a nested grid */
    grid-area: content;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.project-cards { /* These are grid items of 'content' */
    padding: 2rem;
    background-color: teal;
    grid-row: 1/-1;
    display: grid; /* For the card items */
    grid-template-columns: repeat(auto-fit, minmax(100px, 350px));
    grid-template-rows: auto;
    justify-content: space-evenly;
    row-gap: 25px;
}

.content .card{
    border: 3px solid white;
    min-height: 100px;
}


.news { /* These are grid items of 'content' */
    background-color: aquamarine;
    padding: 1rem;
}

#newsCard{
    border: 3px solid black;
    height: 85%; /* Of the ".news" section */
    min-height: 150px;
    margin-top: 0.5rem;
}

.trending{
    padding: 1rem;
}

#trendingCard{
    border: 3px solid black;
    height: 85%;
    min-height: 150px;
    margin-top: 0.5rem;
}

.footer{
    background-color: purple;
    grid-area: footer;

}