@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Poppins', monospace;
}

#header{
    text-align: center;
    margin: 0 auto; /* Is required for centering block-elements. */
    margin-top:12px;
    padding: 24px;
    width: 335px;

    border-style: solid;
    border: 7px, black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #999999;

}

#header #title {
    font-size:36px;
    font-weight:bolder
}

#header #subTitle{
    font-size:24px;
    font-style: italic;
}

#nav .navItem img {
    width: 100px;
    height: 100px;
}